$c-warning: #fff;
$c-primary: #fe9024;
$c-white: #fff;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'reset';

@import 'components/options';

.sticky-footer {
  position: relative;
  bottom: 0;

  background: #333;
  color: $c-white;

  overflow: auto;
}

.full-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  background: green;
}
