$c-warning: #fff;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'reset';

.options {
  padding: 0.5rem 1rem;

  background: darken(#fe9024, 10%);
  color: #fff;

  &__flex {
    display: flex;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
